.app {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(132, 103, 235),
    rgb(190, 112, 241),
    rgb(255, 125, 248)
  );
  display: grid;
  place-items: center;
}

.app__container {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(146, 25, 245);
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 5px 5px 10px 0 rgb(156, 80, 255);
}

.app__todoContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
